.DS_Store
.idea/*
node_modules
npm-debug.log
reports
screenshots/**/*.png
*.pyc
*/output.xml
*/report.html
*/log.html
练习项目/*

NdolLibrary/build/
NdolLibrary/build/*

NdolLibrary/dist/
NdolLibrary/dist/*

NdolLibrary/src/NdolLibrary.egg-info
NdolLibrary/src/NdolLibrary.egg-info/*